[Desktop Entry]
Type=Application
Name=gallery-dl
Comment=Download image galleries and collections from a terminal
Icon=eu.nosini.GalleryDl
Exec=gallery-dl-terminal
Terminal=true
Categories=Network;FileTransfer;
Keywords=gallery;download;images;video;
